// ======= Head =======
include parts/head.pug
// End Head

// Template CSS Files
link(href='assets/css/style.css' rel='stylesheet')

script.
  let x = !{JSON.stringify(tokenExpired)}
  if(x === 'expired'){
    window.localStorage.clear()
    window.location = '/';
  }

// ======= Header =======
include parts/header.pug
// End Header

// ======= Hero Section =======
section#hero.d-flex
  .container.position-relative(data-aos='fade-up' data-aos-delay='100')
    .row.justify-content-center
      .col-xl-7.col-lg-9.text-center.hero-info
        h1 დიდი ამნისტიის მხარდამჭერთა საზოგადოება
        img.hero-img(src='assets/img/amnistia.png' alt='cannabis')
        h2 პატიმრებიც ადამიანები არიან
    .text-center
      a.btn-get-started.scrollto(href='https://www.girchi.com/ge/donate/amnistia') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
    .row.icon-boxes
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='200')
        .icon-box
          h4.title
            a(href='') ქომაგი
          p.description საზოგადოების წევრი, რომელიც მხარს უჭერს ამნისტიის პროექტს.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='300')
        .icon-box
          h4.title
            a(href='') პატიმარი
          p.description საზოგადოების წევრი, რომელსაც უნდა შეეხოს ამნისტია.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='400')
        .icon-box
          h4.title
            a(href='') დამფუძნებელი
          p.description წევრი, რომელიც საზოგადოებას შემოუერთდა 2021 წლის 12 აგვისტოს  4:20 საათამდე.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='500')
        .icon-box
          h4.title
            a(href='') ადვოკატი
          p.description საზოგადოების წევრი ადვოკატი, რომელიც მუშაობს მისი დაცვის ქვეშ მყოფ პირზე ამნისტიის, შეწყალებისა და გათავისუფლების სხვა მექანიზმების გამოყენების მიმართულებით.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='800')
        .icon-box
          h4.title
            a.investor(href='') ინვესტორი
          p.description
            | საზოგადოების წევრი, რომელმაც ერთჯერადად განახორციელა არანაკლებ ათასი ლარის ინვესტიცია.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='900')
        .icon-box
          h4.title
            a.golden-investor(href='') ოქროს ინვესტორი
          p.description საზოგადოების წევრი, რომელმაც განახორციელა არანაკლებ ათი ათასი ლარის ინვესტიცია.
// End Hero
main#main
  // ======= About Section =======
  section#about.about
    .container(data-aos='fade-up')
      .section-title
        h2 ჩვენს შესახებ
      .text-center
        p
          | ჩვენ ვთვლით, რომ საქართველოში საბჭოთა კავშირის დაშლის შემდგომ არ მომხდარა სისხლის სამართლის პოლიტიკის არსებითი გადააზრება, არ გვიფიქრია იმაზე თუ როგორი უნდა იყოს დამოუკიდებელი საქართველოს სისხლის სამართლის პოლიტიკა, როგორი ქმედება უნდა ისჯებოდეს პატიმრობით, არ გვიფიქრია არც სასჯელთა რეალურ მიზნებზე და ოდენობაზე.
          |ამის და სხვა ბევრ მიზეზთა გამო, ქვეყანაში უამრავი პატიმარია, რომელიც დღეს  ციხეში არ უნდა იჯდეს ან ახალი ცხოვრებისთვის ერთ შანსს მაინც იმსახურებს.
        a.btn-learn-more(href='constitution') კონსტიტუცია
  // End About Section
  // ======= About Video Section =======
  section#about-video.about-video
    .container(data-aos='fade-up')
      .row.align-items-center
        .col-lg-6.video-box.align-self-baseline(data-aos='fade-right' data-aos-delay='100')
          img.img-fluid(src='assets/img/amnistia.png' alt='')
          a.glightbox.play-btn.mb-4(href='https://www.youtube.com/embed/DXILK0ZhhBg' data-vbtype='video' data-autoplay='true')
        .col-lg-6.pt-3.pt-lg-0.content(data-aos='fade-left' data-aos-delay='100')
          h3.mb-4 მიზნები
          p ჩვენ გვინდა:
          ul
            li
              i.bx.bx-check-double
              |  კანაფთან და მის პროდუქტებთან დაკავშირებული დანაშაულები - სრული ამნისტია.
            li
              i.bx.bx-check-double
              |   არაგანზრახი (გაუფრთხილებლობით ჩადენილი) დანაშაულები, ასევე დანაშაულები რომელთაც არ ჰყავთ დაზარალებული ან დაზარალებულმა აპატია დამნაშავეს - ამნისტია სასჯელის 50% -ის შემცირებით.
            li
              i.bx.bx-check-double
              |  ნებისმიერი სხვა დანაშაული - ამნისტია სასჯელის 20% - ის შემცირებით.
            li
              i.bx.bx-check-double
              |  უვადო პატიმრობა მისჯილებს - 30 წელი, მოხდილი წლების ჩათვლით.
            li
              i.bx.bx-check-double
              |  ჩამორთმეული  უფლებების აღდგენა, რათა ადამიანმა შეძლოს რესოციალიზაცია და სათანადო სამუშაოს პოვნა.
  // End About Video Section

  // ======= Testimonials Section =======
  section#testimonials.testimonials
    .container(data-aos='fade-up')
      .section-title
        h2 წევრები
      .testimonials-slider.swiper-container(data-aos='fade-up' data-aos-delay='100')
        #latestUsers.swiper-wrapper
          ul#usersList.list-group
          each user in usersList
            .swiper-slide
              .testimonial-item
                a(href=`user/${user.user_id}`)
                  img.testimonial-img(src=`${user.img}` alt='user image')
                  h3= user.name
                  h4= user.status
        a.users-btn(href='users') სრული სია

  // End Testimonials Section
  // ======= Services Section =======
  section#services.services.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 პრინციპები
      .row
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-blue
            h4
              a(href='#') მართვა
            p
              | საზოგადოების მმართველი ორგანოა „დიდი ამნისტიის მხარდამჭერთა“ საბჭო, რომელიც აირჩევა ერთი წლის ვადით და გადაწყვეტილებას იღებს უმრავლესობით
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-orange
            h4
              a(href='') შემოსავლები
            p
              | საზოგადოების ფინანსები უზრუნველყოფილია საწევროებისგან, შემოწირულობებისგან, ინვესტიციებისგან და პატიოსანი გზით ნაშოვნი სხვა შემოსავლებისგან.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-pink
            h4
              a(href='') ხარჯები
            p
              | საზოგადოების შემოსავლების ნახევარი განკუთვნილია საზოგადოების ლობისტი საქართველოს პარლამენტის წევრებისთვის, ხოლო დარჩენილის განკარგვა ხდება პროექტზე პასუხისმგებელ პირთა მიერ.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-yellow
            h4
              a(href='') საჯაროობა
            p საზოგადოების შემოსავლების და მათი ხარჯვის შესახებ ინფორმაცია საჯაროა.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-red
            h4
              a(href='') კონფლიქტები
            p
              | თუ საზოგადოების წევრებს შორის კონფლიქტი საუბრით ვერ ხერხდება, საქმე განსახილველად გადაეცემა გირჩის საარბიტრაჟო სასამართლოს.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-teal
            h4
              a(href='') დაფუძნება
            p საზოგადოება დაფუძნებულად ჩაითვლება 2021 წლის 12 აგვისტოს 4:20 საათიდან.
  // End Sevices Section

  // ======= Team Section =======
  section#team.team.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 გუნდი
        p „დიდი ამნისტიის მხარდამჭერთა“ საზოგადოების გუნდი
      .row.justify-content-center.align-items-stretch
        .col-lg-4.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/xvichia_iago.webp' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 იაგო ხვიჩია
              span დამფუძნებელი
        .col-lg-4.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/vakhtang-megrelishvili_57da63ee2b090-800x445-1.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 ვახო მეგრელიშვილი
              span საბჭოს წევრი
        .col-lg-4.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='300')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/raqviasvili.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 სანდრო რაქვიაშვილი
              span საბჭოს წევრი
  // End Team Section

  // ======= Frequently Asked Questions Section =======
  section#faq.faq.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 წევრობა
        p მომხმარებლების ხშირად დასმული კითხვები
      .faq-list
        ul
          li(data-aos='fade-up')
            i.bx.bx-help-circle.icon-help
            a.collapse(data-bs-toggle='collapse' data-bs-target='#faq-list-1')
              | ვის შეუძლია გახდეს საზოგადოების წევრი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-1.collapse.show(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრი შეუძლია გახდეს ნებისმიერ ადამიანს, ვინც ეთანხმება კონსტიტუციას და იხდის საწევროს.
          li(data-aos='fade-up' data-aos-delay='200')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-3')
              | წევრობის დამადასტურებელი დოკუმენტი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-3.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრ ფიზიკურ პირებს გადაეცემათ „დიდი ამნისტიის მხარდამჭერის“  ბარათი, ხოლო იურიდიულ პირებს - პარტნიორთა მოწმობა.
          li(data-aos='fade-up' data-aos-delay='300')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-4')
              | ვინ არის აქტიური წევრი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-4.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრი, რომელსაც დაფარული აქვს გასული თვის საწევრო გადასახადი, ითვლება აქტიურ წევრად.
          li(data-aos='fade-up' data-aos-delay='400')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-5')
              | რამდენია მინიმალური საწევრო
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-5.collapse(data-bs-parent='.faq-list')
              p
                | მინიმალურ საწევრო შემოწირულობას წარმოადგენს 1 (ერთი) ლარი.
          li(data-aos='fade-up' data-aos-delay='500')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-6')
              | ინფორმაცია წევრებზე
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-6.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრთა ვინაობა და მათი წვლილი საზოგადოებაში წარმოადგენს საჯარო ინფორმაციას.
  // End Frequently Asked Questions Section
// End #main


// ======= Footer =======
include parts/footer.pug
// End Footer

// ======= Scripts =======
include parts/scripts.pug
// End Scripts

// Template Main JS File
script(src='assets/js/main.js')
