doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Amnistia
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/amnistia.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')

  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center.justify-content-between
    h1.logo
      a(href='/')
        img(src='assets/img/amnistia.png' alt='amnistia')
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
        li
          a.nav-link.scrollto(href='#about') &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
        li
          a.nav-link.scrollto(href='#testimonials') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto.o(href='#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
        li
          a.nav-link.scrollto(href='#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        li
          a.getstarted.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
// ======= Hero Section =======
section#hero.d-flex
  .container.position-relative(data-aos='fade-up' data-aos-delay='100')
    .row.justify-content-center
      .col-xl-7.col-lg-9.text-center.hero-info
        h1 დიდი ამნისტიის მხარდამჭერთა საზოგადოება
        img.hero-img(src='assets/img/amnistia.png' alt='cannabis')
        h2 პატიმრებიც ადამიანები არიან
    .text-center
      a.btn-get-started.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
    .row.icon-boxes
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='200')
        .icon-box
          h4.title
            a(href='') ქომაგი
          p.description საზოგადოების წევრი, რომელიც მხარს უჭერს ამნისტიის პროექტს.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='300')
        .icon-box
          h4.title
            a(href='') პატიმარი
          p.description საზოგადოების წევრი, რომელსაც უნდა შეეხოს ამნისტია.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='400')
        .icon-box
          h4.title
            a(href='') დამფუძნებელი
          p.description წევრი, რომელიც საზოგადოებას შემოუერთდა 2021 წლის 12 აგვისტოს  4:20 საათამდე.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='500')
        .icon-box
          h4.title
            a(href='') ადვოკატი
          p.description საზოგადოების წევრი ადვოკატი, რომელიც მუშაობს მისი დაცვის ქვეშ მყოფ პირზე ამნისტიის, შეწყალებისა და გათავისუფლების სხვა მექანიზმების გამოყენების მიმართულებით.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='800')
        .icon-box
          h4.title
            a.investor(href='') ინვესტორი
          p.description
            | საზოგადოების წევრი, რომელმაც ერთჯერადად განახორციელა არანაკლებ ათასი ლარის ინვესტიცია.
      .col-md-6.col-lg-4.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='900')
        .icon-box
          h4.title
            a.golden-investor(href='') ოქროს ინვესტორი
          p.description საზოგადოების წევრი, რომელმაც განახორციელა არანაკლებ ათი ათასი ლარის ინვესტიცია.
// End Hero
main#main
  // ======= About Section =======
  section#about.about
    .container(data-aos='fade-up')
      .section-title
        h2 ჩვენს შესახებ
      .text-center
        p
          | ჩვენ ვთვლით, რომ საქართველოში საბჭოთა კავშირის დაშლის შემდგომ არ მომხდარა სისხლის სამართლის პოლიტიკის არსებითი გადააზრება, არ გვიფიქრია იმაზე თუ როგორი უნდა იყოს დამოუკიდებელი საქართველოს სისხლის სამართლის პოლიტიკა, როგორი ქმედება უნდა ისჯებოდეს პატიმრობით, არ გვიფიქრია არც სასჯელთა რეალურ მიზნებზე და ოდენობაზე.
          |ამის და სხვა ბევრ მიზეზთა გამო, ქვეყანაში უამრავი პატიმარია, რომელიც დღეს  ციხეში არ უნდა იჯდეს ან ახალი ცხოვრებისთვის ერთ შანსს მაინც იმსახურებს.
        a.btn-learn-more(href='constitution') კონსტიტუცია
  // End About Section
  // ======= About Video Section =======
  section#about-video.about-video
    .container(data-aos='fade-up')
      .row.align-items-center
        .col-lg-6.video-box.align-self-baseline(data-aos='fade-right' data-aos-delay='100')
          img.img-fluid(src='assets/img/amnistia.png' alt='')
          a.glightbox.play-btn.mb-4(href='https://www.youtube.com/watch?v=sPl_7xzLEUA' data-vbtype='video' data-autoplay='true')
        .col-lg-6.pt-3.pt-lg-0.content(data-aos='fade-left' data-aos-delay='100')
          h3.mb-4 მიზნები
          p ჩვენ გვინდა ასეთი ამნისტია :
          ul
            li
              i.bx.bx-check-double
              |  კანაფთან და მის პროდუქტებთან დაკავშირებული დანაშაულები - სრული ამნისტია.
            li
              i.bx.bx-check-double
              |  დანაშაულები, რომელთაც არ ჰყავთ დაზარალებული ან დაზარალებულმა აპატია დამნაშავეს - ამნისტია სასჯელის 50% -ის შემცირებით..
            li
              i.bx.bx-check-double
              |  ნებისმიერი სხვა დანაშაული - ამნისტია სასჯელის 20% - ის შემცირებით.
            li
              i.bx.bx-check-double
              |  უვადო პატიმრობა მისჯილებს - 30 წელი, მოხდილი წლების ჩათვლით.
            li
              i.bx.bx-check-double
              |  ჩამორთმეული  უფლებების აღდგენა, რათა ადამიანმა შეძლოს რესოციალიზაცია და სათანადო სამუშაოს პოვნა.
  // End About Video Section
  //- // ======= Clients Section =======
  //- section#clients.clients.section-bg
  //-   .container
  //-     .row
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-1.jpg' alt='')
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-2.webp' alt='')
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-3.jpg' alt='')
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-4.png' alt='')
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-5.png' alt='')
  //-       .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
  //-         img.img-fluid(src='assets/img/clients/gclient-6.jpg' alt='')
  //- // End Clients Section
  // ======= Testimonials Section =======
  section#testimonials.testimonials
    .container(data-aos='fade-up')
      .section-title
        h2 წევრები
      .testimonials-slider.swiper-container(data-aos='fade-up' data-aos-delay='100')
        #latestUsers.swiper-wrapper
          ul#usersList.list-group
          - for(let i = 0; i < 6; i++)
              .swiper-slide
                .testimonial-item
                  a(href=`user/${arr[i].id}`)         
                    img.testimonial-img(src=`${arr[i].img}` alt='user image')
                  h3= `${arr[i].name} ${arr[i].surname}`
                  h4= arr[i].status
        a.users-btn(href='users') &#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10E1;&#x10D8;&#x10D0;
        h3.usersCount (12335790)
  // Modal - Full User List
  #usersModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='usersModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#usersModalLabel.modal-title &#x10E1;&#x10D8;&#x10D0;
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .modal-footer
              button.btn.btn-success(type='button' data-bs-dismiss='modal')
            | &#x10D3;&#x10D0;&#x10EE;&#x10E3;&#x10E0;&#x10D5;&#x10D0;
  // End Testimonials Section
  // ======= Services Section =======
  section#services.services.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
      .row
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-blue
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
              </svg>
              <i class="bx bxl-dribbble"></i>
              </div>
            h4
              a(href='#') მართვა
            p
              | საზოგადოების მმართველი ორგანოა „დიდი ამნისტიის მხარდამჭერთა“ საბჭო, რომელიც აირჩევა ერთი წლის ვადით და გადაწყვეტილებას იღებს უმრავლესობით
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-orange
            h4
              a(href='') შემოსავლები
            p
              | საზოგადოების ფინანსები უზრუნველყოფილია საწევროებისგან, შემოწირულობებისგან, ინვესტიციებისგან და პატიოსანი გზით ნაშოვნი სხვა შემოსავლებისგან.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-pink
            h4
              a(href='') ხარჯები
            p
              | საზოგადოების შემოსავლების ნახევარი განკუთვნილია საზოგადოების ლობისტი საქართველოს პარლამენტის წევრებისთვის, ხოლო დარჩენილის განკარგვა ხდება პროექტზე პასუხისმგებელ პირთა მიერ.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-yellow
            h4
              a(href='') საჯაროობა
            p საზოგადოების შემოსავლების და მათი ხარჯვის შესახებ ინფორმაცია საჯაროა.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-red
            h4
              a(href='') კონფლიქტები
            p
              | თუ საზოგადოების წევრებს შორის კონფლიქტი საუბრით ვერ ხერხდება, საქმე განსახილველად გადაეცემა გირჩის საარბიტრაჟო სასამართლოს.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-teal
            h4
              a(href='') დაფუძნება
            p საზოგადოება დაფუძნებულად ჩაითვლება 2021 წლის 12 აგვისტოს 4:20 საათიდან.
  // End Sevices Section
  // ======= Portfolio Section =======
  section#portfolio.portfolio
    .container(data-aos='fade-up')
      .section-title
        h2 ამნისტიის შესახებ
        p ჰუმანიზმის პრინციპიდან გამომდინარე, ერთჯერადი, დროებითი და განსაკუთრებული ღონისძიების სახით, საზოგადოებრივი საშიშროების ხარისხის გათვალისწინებით, ამ კანონის საფუძველზე, სისხლისსამართლებრივი პასუხისმგებლობისა და სასჯელისაგან თავისუფლდებიან საქართველოს სისხლის სამართლის კოდექსით (საქართველოს საკანონმდებლო მაცნე, №41(48), 1999 წელი, მუხ. 209) გათვალისწინებული ზოგიერთი დანაშაულის ჩადენისათვის ბრალდებული და მსჯავრდებული პირები, ასევე დანიშნული სასჯელი უმცირდებათ ან უფრო მსუბუქი სასჯელით ეცვლებათ ცალკეული დანაშაულების ჩადენისათვის მსჯავრდებულ პირებს.
  
  // End Portfolio Section
  // ======= Team Section =======
  section#team.team.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 გუნდი
        p „დიდი ამნისტიის მხარდამჭერთა“ საზოგადოების გუნდი
      .row.justify-content-center.align-items-stretch
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/xvichia_iago.webp' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10D8;&#x10D0;&#x10D2;&#x10DD; &#x10EE;&#x10D5;&#x10D8;&#x10E9;&#x10D8;&#x10D0;
              span &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8;
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/vakhtang-megrelishvili_57da63ee2b090-800x445-1.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10D5;&#x10D0;&#x10EE;&#x10DD; &#x10DB;&#x10D4;&#x10D2;&#x10E0;&#x10D4;&#x10DA;&#x10D8;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8;
              span &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='300')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/raqviasvili.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10E1;&#x10D0;&#x10DC;&#x10D3;&#x10E0;&#x10DD; &#x10E0;&#x10D0;&#x10E5;&#x10D5;&#x10D8;&#x10D0;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8;
              span &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
  // End Team Section
  // ======= Frequently Asked Questions Section =======
  section#faq.faq.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 წევრობა
        p მომხმარებლების ხშირად დასმული კითხვები
      .faq-list
        ul
          li(data-aos='fade-up')
            i.bx.bx-help-circle.icon-help
            a.collapse(data-bs-toggle='collapse' data-bs-target='#faq-list-1')
              | ვის შეუძლია გახდეს საზოგადოების წევრი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-1.collapse.show(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრი შეუძლია გახდეს ნებისმიერ ადამიანს, ვინც ეთანხმება კონსტიტუციას და იხდის საწევროს.
          li(data-aos='fade-up' data-aos-delay='200')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-3')
              | წევრობის დამადასტურებელი დოკუმენტი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-3.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრ ფიზიკურ პირებს გადაეცემათ „დიდი ამნისტიის მხარდამჭერის“  ბარათი, ხოლო იურიდიულ პირებს - პარტნიორთა მოწმობა.
          li(data-aos='fade-up' data-aos-delay='300')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-4')
              | ვინ არის აქტიური წევრი
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-4.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრი, რომელსაც დაფარული აქვს გასული თვის საწევრო გადასახადი, ითვლება აქტიურ წევრად.
          li(data-aos='fade-up' data-aos-delay='400')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-5')
              | რამდენია მინიმალური საწევრო
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-5.collapse(data-bs-parent='.faq-list')
              p
                | მინიმალურ საწევრო შემოწირულობას წარმოადგენს 1 (ერთი) ლარი.
          li(data-aos='fade-up' data-aos-delay='500')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-6')
              | ინფორმაცია წევრებზე
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-6.collapse(data-bs-parent='.faq-list')
              p
                | საზოგადოების წევრთა ვინაობა და მათი წვლილი საზოგადოებაში წარმოადგენს საჯარო ინფორმაციას.
  // End Frequently Asked Questions Section
// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 Amnistia.ge
          p
            | &#x10D7;&#x10D1;&#x10D8;&#x10DA;&#x10D8;&#x10E1;&#x10D8;
            br
            |               &#x10D7;&#x10D0;&#x10D5;&#x10D8;&#x10E1;&#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10D4;&#x10D3;&#x10D0;&#x10DC;&#x10D8;
            br
            |               9 &#x10D0;&#x10DE;&#x10E0;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10E5;&#x10E3;&#x10E9;&#x10D0; #3/5
            br
            br
            strong="ელფოსტა"
            |  info@amnistia.ge
            br
        .col-lg-2.col-md-6.footer-links
          h4 &#x10DC;&#x10D0;&#x10D5;&#x10D8;&#x10D2;&#x10D0;&#x10EA;&#x10D8;&#x10D0;
          ul
            li
              i.bx.bx-chevron-right
              a(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#about') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
            li
              i.bx.bx-chevron-right
              a(href='#testimonials') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        .col-lg-3.col-md-6.footer-links
          h4 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
          ul
            li
              i.bx.bx-chevron-right
              |  &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10DD;&#x10D1;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D0;
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D5;&#x10E2;&#x10DD;&#x10E0;&#x10DD; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;.
        strong
          span  &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .credits
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.bx.bxl-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.bx.bxl-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/' target='_blank')
        i.bx.bxl-instagram
      a.linkedin(href='https://ge.linkedin.com/company/%E1%83%92%E1%83%98%E1%83%A0%E1%83%A9%E1%83%98-girchi' target='_blank')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/latestusers.js')

