doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Amnistia
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='../assets/img/amnistia.png' rel='icon')
  link(href='../assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  link(href='/assets/css/user.css' rel='stylesheet')

// ======= Header =======
include parts/header.pug
// End Header

// ======= Main =======
#userinfo-container.container.pb-4
  .user-info
    img.user-info--pic(src=`${data.img}` alt='')
    .user-info--text
      h4= `${data.name} ${data.surname}`
      span.main-status= data.status
      each val in data.other_statuses
        span= val

  #cards.cards(class=`card-${engData.class}`)
    #card-front.card-side
      div.left-style
        svg(xmlns='http://www.w3.org/2000/svg' width='145.519' height='200.274' viewbox='0 0 145.519 200.274')
          path#Path_2(data-name='Path 2' d='M476.99,0c-1.171,0-64.788,37.464-7.415,93.134s21.856,107.139,21.856,107.139H356.781V0Z' transform='translate(-356.781)' fill='#fcdbdb')

      header.card-header='ამნისტიის მხარდამჭერთა საზოგადოება'
      main.card-main
        .card-info
          span &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10D8; &#x10D2;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
          h4#cardFullName= `${data.name} ${data.surname}`
          span &#x10D3;&#x10D0;&#x10D1;&#x10D0;&#x10D3;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10E0;&#x10D8;&#x10E6;&#x10D8;
          h4#cardDate= data.birth_date
        .card-info
          span &#x10DE;&#x10D8;&#x10E0;&#x10D0;&#x10D3;&#x10D8; &#x10DC;&#x10DD;&#x10DB;&#x10D4;&#x10E0;&#x10D8;
          h4#cardIdNum= data.id_number
          span &#x10DC;&#x10DD;&#x10DB;&#x10D4;&#x10E0;&#x10D8;
          h4#cardNum= data.card_number
        #card-img.card-img
          img#cardImage.img-fluid(src=data.img alt='user')
      footer.card-footer
        .bedge
          .bedge-icon
            img#cardBadge.img-fluid(src=`/assets/img/card/${engData.class}.png` alt='badge')
          div#cardStatus= data.status.replace('_', ' ')
        div
          | &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10E8;&#x10D8;&#x10D0;: 
          span#cardValid= data.validation
    #card-back.card-side
      div.left-style
        svg(xmlns='http://www.w3.org/2000/svg' width='145.519' height='200.274' viewbox='0 0 145.519 200.274')
          path#Path_2(data-name='Path 2' d='M476.99,0c-1.171,0-64.788,37.464-7.415,93.134s21.856,107.139,21.856,107.139H356.781V0Z' transform='translate(-356.781)' fill='#fcdbdb')

      header.card-header AMNESTY SUPPORTERS SOCIETY
      main.card-main
        .card-info
          span Name Surname
          h4#cardFullName= `${engData.name} ${engData.surname}`
          span Birth Date
          h4#cardDate= data.birth_date
        .card-info
          span Personal Number
          h4#cardIdNum= data.id_number
          span Number
          h4#cardNum= data.card_number
        #card-img.card-img
          .card-qrcode
            img(src= QRValue)
      footer.card-footer
        .bedge
          .bedge-icon
            img#cardBadge.img-fluid(src=`/assets/img/card/${engData.class}.png` alt='badge')
          div#cardStatus= engData.status
        div
          | VALID: 
          span#cardValid= data.validation

 
// ======= Footer =======
include parts/footer.pug
// End Footer

#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='/assets/vendor/aos/aos.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/vendor/glightbox/js/glightbox.min.js')
script(src='/assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/assets/vendor/php-email-form/validate.js')
script(src='/assets/vendor/purecounter/purecounter.js')
script(src='/assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='/assets/js/main.js')